EdiPigsTestWebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2008_2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2008_2/" name="EdiPigsTestWebservice">
<ns1:Policy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsu:Id="EdiPigsWebservicePortBindingPolicy">
<ns1:ExactlyOne>
<ns1:All></ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2008_2/" schemaLocation="http://services.flexybreed.com:80/EdiPigsWebservices/EdiPigsTestWebservice?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getMessageRequestContainer">
<part name="parameters" element="tns:getMessageRequestContainer"></part>
</message>
<message name="getMessageRequestContainerResponse">
<part name="parameters" element="tns:getMessageRequestContainerResponse"></part>
</message>
<message name="putMessageRequestContainer">
<part name="parameters" element="tns:putMessageRequestContainer"></part>
</message>
<message name="putMessageRequestContainerResponse">
<part name="parameters" element="tns:putMessageRequestContainerResponse"></part>
</message>
<message name="getMessageListRequestContainer">
<part name="parameters" element="tns:getMessageListRequestContainer"></part>
</message>
<message name="getMessageListRequestContainerResponse">
<part name="parameters" element="tns:getMessageListRequestContainerResponse"></part>
</message>
<message name="getExchangeStatusRequestContainer">
<part name="parameters" element="tns:getExchangeStatusRequestContainer"></part>
</message>
<message name="getExchangeStatusRequestContainerResponse">
<part name="parameters" element="tns:getExchangeStatusRequestContainerResponse"></part>
</message>
<portType name="EdiPigsTestWebservice">
<operation name="getMessageRequestContainer">
<input message="tns:getMessageRequestContainer"></input>
<output message="tns:getMessageRequestContainerResponse"></output>
</operation>
<operation name="putMessageRequestContainer">
<input message="tns:putMessageRequestContainer"></input>
<output message="tns:putMessageRequestContainerResponse"></output>
</operation>
<operation name="getMessageListRequestContainer">
<input message="tns:getMessageListRequestContainer"></input>
<output message="tns:getMessageListRequestContainerResponse"></output>
</operation>
<operation name="getExchangeStatusRequestContainer">
<input message="tns:getExchangeStatusRequestContainer"></input>
<output message="tns:getExchangeStatusRequestContainerResponse"></output>
</operation>
</portType>
<binding name="EdiPigsTestWebservicePortBinding" type="tns:EdiPigsTestWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getMessageRequestContainer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="putMessageRequestContainer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMessageListRequestContainer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getExchangeStatusRequestContainer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="EdiPigsTestWebservice">
<port name="EdiPigsTestWebservicePort" binding="tns:EdiPigsTestWebservicePortBinding">
<soap:address location="http://services.flexybreed.com:80/EdiPigsWebservices/EdiPigsTestWebservice"></soap:address>
</port>
</service>
</definitions>