WSDL_WS-EDI-PIGS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:tns="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/" 
xmlns:wsdltypes="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/"
xmlns:schema="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/" 
xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
xmlns:gesreq="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getExchangeStatusRequest.xsd"
xmlns:gesres="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getExchangeStatusResponse.xsd"
xmlns:gmareq="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageAnimalRequest.xsd"
xmlns:gmares="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageAnimalResponse.xsd"
xmlns:gmlreq="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageListRequest.xsd"
xmlns:gmlres="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageListResponse.xsd"
xmlns:gmreq="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageRequest.xsd"
xmlns:gmres="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageResponse.xsd"
xmlns:pesareq="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/putExchangeStatusAcknowledgementRequest.xsd"
xmlns:pesares="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/putExchangeStatusAcknowledgementResponse.xsd"
xmlns:pmreq="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/putMessageRequest.xsd"
xmlns:pmres="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/putMessageResponse.xsd"
targetNamespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/">
	<xsd:annotation>
		<xsd:documentation>
		  Purpose :  WSDL WS 
		</xsd:documentation>
	</xsd:annotation>
<wsdl:types>
	<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/">
      <xsd:import namespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageListRequest.xsd" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageListRequest.xsd"/>
      <xsd:import namespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageListResponse.xsd" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageListResponse.xsd"/>
      <xsd:import namespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageRequest.xsd" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageRequest.xsd"/>
      <xsd:import namespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageResponse.xsd" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getMessageResponse.xsd"/>
      <xsd:import namespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/putMessageRequest.xsd" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/putMessageRequest.xsd"/>
      <xsd:import namespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/putMessageResponse.xsd" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/putMessageResponse.xsd"/>
      <xsd:import namespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getExchangeStatusRequest.xsd" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getExchangeStatusRequest.xsd"/>
      <xsd:import namespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getExchangeStatusResponse.xsd" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/getExchangeStatusResponse.xsd"/>
      <xsd:import namespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/putExchangeStatusAcknowledgementRequest.xsd" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/putExchangeStatusAcknowledgementRequest.xsd"/>
      <xsd:import namespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/putExchangeStatusAcknowledgementResponse.xsd" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/putExchangeStatusAcknowledgementResponse.xsd"/>
      <xsd:import namespace="http://www.eav.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/Domains_WS-EDI-Pigs.xsd" schemaLocation="http://www.agroconnect.nl/Portals/10/XSDs/WS_EDI_Pigs/v2017_1/Domains_WS-EDI-Pigs.xsd"/>
			<xsd:element name="getMessageListRequestContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="gmlreq:getMessageListRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getMessageListResponseContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="gmlres:getMessageListResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getMessageRequestContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="gmreq:getMessageRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getMessageResponseContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="gmres:getMessageResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="putMessageRequestContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="pmreq:putMessageRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="putMessageResponseContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="pmres:putMessageResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getExchangeStatusRequestContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="gesreq:getExchangeStatusRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getExchangeStatusResponseContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="gesres:getExchangeStatusResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="putExchangeStatusAcknowledgementRequestContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="pesareq:putExchangeStatusAcknowledgementRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="putExchangeStatusAcknowledgementResponseContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="pesares:putExchangeStatusAcknowledgementResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getMessageListRequestMsg">
		<wsdl:part name="payload" element="tns:getMessageListResponseContainer"/>
	</wsdl:message>
	<wsdl:message name="getMessageListResponseMsg">
		<wsdl:part name="payload" element="tns:getMessageListResponseContainer"/>
	</wsdl:message>
	<wsdl:message name="getMessageRequestMsg">
		<wsdl:part name="payload" element="tns:getMessageRequestContainer"/>
	</wsdl:message>
	<wsdl:message name="getMessageResponseMsg">
		<wsdl:part name="payload" element="tns:getMessageResponseContainer"/>
	</wsdl:message>
	<wsdl:message name="putMessageRequestMsg">
		<wsdl:part name="payload" element="tns:putMessageRequestContainer"/>
	</wsdl:message>
	<wsdl:message name="putMessageResponseMsg">
		<wsdl:part name="payload" element="tns:putMessageResponseContainer"/>
	</wsdl:message>
	<wsdl:message name="getExchangeStatusRequestMsg">
		<wsdl:part name="payload" element="tns:getExchangeStatusRequestContainer"/>
	</wsdl:message>
	<wsdl:message name="getExchangeStatusResponseMsg">
		<wsdl:part name="payload" element="tns:getExchangeStatusResponseContainer"/>
	</wsdl:message>
	<wsdl:message name="putExchangeStatusAcknowledgementRequestMsg">
		<wsdl:part name="payload" element="tns:putExchangeStatusAcknowledgementRequestContainer"/>
	</wsdl:message>
	<wsdl:message name="putExchangeStatusAcknowledgementResponseMsg">
		<wsdl:part name="payload" element="tns:putExchangeStatusAcknowledgementResponseContainer"/>
	</wsdl:message>			
	<wsdl:portType name="EdiPortType">
		<wsdl:operation name="requestMessageList">
			<wsdl:input message="tns:getMessageListRequestMsg"/>
			<wsdl:output message="tns:getMessageListResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="requestMessage">
			<wsdl:input message="tns:getMessageRequestMsg"/>
			<wsdl:output message="tns:getMessageResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="putMessage">
			<wsdl:input message="tns:putMessageRequestMsg"/>
			<wsdl:output message="tns:putMessageResponseMsg" />
		</wsdl:operation>
		<wsdl:operation name="requestExchangeStatus">
			<wsdl:input message="tns:getExchangeStatusRequestMsg"/>
			<wsdl:output message="tns:getExchangeStatusResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="putExchangeStatusAcknowledgement">
			<wsdl:input message="tns:putExchangeStatusAcknowledgementRequestMsg"/>
			<wsdl:output message="tns:putExchangeStatusAcknowledgementResponseMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EdiSoapBinding" type="tns:EdiPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="requestMessageList">
			<soap:operation style="document" soapAction="soapGetMessageList"/>
			<wsdl:input>
				<soap:body use="literal" parts="payload"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="requestMessage">
			<soap:operation style="document" soapAction="soapGetMessage"/>
			<wsdl:input>
				<soap:body use="literal" parts="payload"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="putMessage">
			<soap:operation style="document" soapAction="soapPutMessage"/>
			<wsdl:input>
				<soap:body use="literal" parts="payload"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="requestExchangeStatus">
			<soap:operation style="document" soapAction="soapGetExchangeStatus"/>
			<wsdl:input>
				<soap:body use="literal" parts="payload"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="putExchangeStatusAcknowledgement">
			<soap:operation style="document" soapAction="soapputExchangeStatusAcknowledgement"/>
			<wsdl:input>
				<soap:body use="literal" parts="payload"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EdiService">
		<wsdl:port name="Edi" binding="tns:EdiSoapBinding">
			<soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://localhost/WSTest/WsEDIPigsV200801.asmx"/>
			<!--bovenstaande verwijzing is specifiek voor de Farmingnet-implementatie-->
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>